<section lang="en">
    <article class="mb-4" data-description="intro">
        <p><b>The composition of the groups is identical</b> to that of Part 1. </p>
        <p>
            The computer program will randomly select one group from
            all groups in this room. This group will be referred to as the <b><i>Passive</i></b> group.
            The remaining groups will be referred to as the <b><i>Active</i></b> groups.
        </p>
        <p>
            The final individual gains for members of the <i>Passive</i> group will depend on their Part 1 gains and the
            decisions made by members of the <i>Active</i> groups in Part 2.
            Since members of the <i>Passive</i> group will not make any active
            decisions in this part, the instructions below are specifically for members of the <i>Active</i> groups.
            <br>
            Once all participants have read these instructions, you will be informed <b>whether you are in the
            <i>Passive</i> group or one of the <i>Active</i> groups</b>.
        </p>
    </article>

    <article class="mb-4" data-description="roles">
        <h5>Roles and Decisions in the Active Groups</h5>
        <p>
            In each <i>Active</i> group, the computer program randomly assigns roles to players.
            There will be <b>one Red Player and two Blue Players</b>.
        </p>
        <p>
            The Red Player has the option to <b>increase his/her earnings by stealing ECU</b>
            from the <i>Passive</i> group. Specifically,
            the Red Player faces a binary decision: to steal or not to steal ECU from the Passive Group.
        </p>
        <p>
            <span class="text-decoration-underline">Here’s how it works:</span> <br>
            If the Red Player decides to steal ECU, they <b>gain {{ STEALING_AMOUNT }} ECU</b>, while the
            <i>Passive</i> group <b>loses {{ STEALING_LOSS }} ECU</b> in total.
            This means each member of the <i>Passive</i> group loses {{ STEALING_LOSS_INDIV }} ECU
            ({{ STEALING_LOSS_INDIV }} ECU x {{ PLAYERS_PER_GROUP }} = {{ STEALING_LOSS }} ECU).
            If the Red Player does not steal ECU, no changes occur, and all participants’ earnings remain the same as
            their Part 1 gains.
        </p>
        <p>
            Stealing is subject to a <b>penalty of {{ STEALING_PENALTY}} ECU</b>. However, a Red Player who decides to
            steal may incur the penalty only when reported by one of the Blue Players, and even then the penalty is not
            guaranteed.
        </p>
    </article>

    <article class="mb-4" data-description="reporting">
        <h5>Reporting Rules</h5>
        <p>
            Each <i>Active</i> group’s Blue Players will decide whether to report the Red Player in their group if the
            Red Player decides to steal ECU from the <i>Passive</i> group. If the Red Player does not steal, no
            reporting takes place. Reporting is anonymous and submitted to the experimenter.
        </p>
        <p>
            If a Blue Player decides to report the Red Player, and the Red Player has stolen ECU,
            the Blue Player incurs a <b>reporting cost of {{ REPORTING_COST }} ECU</b>
            (deducted from their part 1 gains).
        </p>
        <ul>
            <li>
                <u>If the Red Player has stolen ECU:</u> <br>
                <ul>
                    <li>The Blue Player who reported incurs the <b>reporting cost of {{ REPORTING_COST }} ECU</b>.</li>
                    <li>The reported Red Player incurs a <b>penalty of {{ STEALING_PENALTY}} ECU</b> with a probability
                        of {{ AUDIT_PROBABILITY_STR }} (deducted from their part 1 gains and the {{ STEALING_AMOUNT }}
                        ECU they stole) and incurs no penalty with a probability of {{ NON_AUDIT_PROBABILITY_STR }}.
                    </li>
                    {{ if subsession.reward }}
                    <li>If the Red Player is penalized, the Blue Player receives a <b>reporting reward of
                        {{ REPORTING_REWARD }} ECU</b>.
                    </li>
                    {{ endif }}
                </ul>
            </li>
            <li>
                <u>If Red Player did not steal ECU:</u> <br>
                <ul>
                    <li>There is <b>no report</b> from the Blue Players.</li>
                    <li>There is <b>no penalty</b> for the Red Player.</li>
                </ul>
            </li>
        </ul>
    </article>

    <article class="mb-4" data-description="randomization">
        <h5>Randomized Reporting</h5>
        <p>
            If the Red Player has stolen ECU, <b>one Blue Player’s decision</b> (to report or not) will be randomly
            selected by the computer program.
        </p>
        <ul>
            <li>If the selected decision is to report, the Blue player incurs the
                reporting cost and the Red Player is reported.
            </li>
            <li>If the selected decision is to not report, the Red Player is not reported.</li>
        </ul>
        <p>
            The non-selected Blue Player’s decision has no effect. <br>
            If the Red Player has not stolen ECU, no action is taken.
        </p>
    </article>

    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h5>Summary of Key Points</h5>
        </div>
        <div class="card-body">
            <p>
                One group will be randomly selected as the <i>Passive group</i>.
                All other groups are <i>Active groups</i>. <br>
                In each active group:
            </p>
            <ul>
                <li>One participant is the Red Player and two participants are the Blue Players.</li>
                <li>
                    The Red Player decides whether to steal ECU from the passive group (Stealing adds
                    {{ STEALING_AMOUNT }} ECU to the Red Player’s earnings and deducts {{ STEALING_LOSS }} ECU
                    from the passive group).
                </li>
                <li>
                    Blue Players decide whether to report the Red Player if they steal ECU.
                </li>
                <li>If the Red Player has stolen ECU:
                    <ul>
                        <li>The computer randomly selects one Blue Player’s decision to implement.</li>
                        <li>
                            If the selected Blue Player’s decision is to report, they incur a cost of
                            {{ REPORTING_COST }} ECU. The Red Player incurs a penalty of {{
                            STEALING_PENALTY }} ECU with a probability of {{ AUDIT_PROBABILITY_STR }} and
                            is not penalized with a probability of {{ NON_AUDIT_PROBABILITY_STR }}.
                            {{ if subsession.reward }}
                            If the Red Player is penalized, the Blue Player receives a reward of
                            {{ REPORTING_REWARD }} ECU.
                            {{ endif }}
                        </li>
                        <li>If the selected Blue Player's decision is to not report, the Red Player is not
                            reported.
                        </li>
                    </ul>
                </li>
                <li>
                    If the Red Player has not stolen ECU, nothing happens (no reporting).
                </li>
            </ul>
        </div>
    </div>
</section>
