{{ block styles }}
<style>
    th.width_perso {
        width: 100px;
        text-align: center;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if en }}
Questionnaire 4
{{ elif fr }}
Questionnaire 4
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="form-control mb-1">
    <p>{{ if en }}
        Here are possible behaviors that experts say would help reduce greenhouse gas emissions. To what extent would
        you be willing to &hellip;
        {{ elif fr }}
        Voici des comportements que les experts disent pouvoir aider à réduire les émissions de gaz à effet de serre.
        Dans quelle mesure seriez-vous prêt(e) à &hellip;
        {{ endif }}
    </p>
    <table class="table table-sm">
        <thead>
        <tr>
            <th></th>
            <th class="width_perso">{{ if en }} Not at all {{ elif fr }} Pas du tout {{ endif }}</th>
            <th class="width_perso"></th>
            <th class="width_perso">{{ if en }} Moderately {{ elif fr }} Modérément {{ endif }}</th>
            <th class="width_perso"></th>
            <th class="width_perso">{{ if en }} A great deal {{ elif fr }} Énormément {{ endif }}</th>
        </tr>
        </thead>
        <tbody>
        {{ for field in form }}
        {{ if field.name in ['limit_flying', 'limit_driving', 'electric_vehicle', 'limit_beef', 'limit_heating'] }}
        <tr>
            <td>{{ field.label|safe }}</td>
            {{ for option in field }}
            <td class="text-center">{{ option }}</td>
            {{ endfor }}
        </tr>
        {{ endif }}
        {{ endfor}}
        </tbody>
    </table>
</div>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}