{{ block styles }}
<style>
    textarea {
        height: 400px;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if fr }}
Questionnaire 1
{{ elif en }}
Questionnaire 1
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if en }}
        <p>
            Climate change refers to long-term shifts in temperatures and weather patterns. Over the past century,
            global temperatures have risen by about 1.1°C (2°F). Scientists have observed more frequent and intense
            extreme weather events, rising sea levels, and shrinking ice sheets.
        </p>
        <p>
            In your opinion, what are the causes of climate change, and how are these causes related?
        </p>

        {{ elif fr }}
        <p>
            Le changement climatique renvoie à des modifications à long terme des températures et des conditions
            météorologiques. Au cours du siècle dernier, les températures mondiales ont augmenté d'environ 1,1 °C (2
            °F). Les scientifiques ont observé des événements météorologiques extrêmes plus fréquents et plus intenses,
            une élévation du niveau de la mer et une réduction des calottes glaciaires.
        </p>
        <p>
            Selon vous, quelles sont les causes du changement climatique, et comment ces causes sont-elles liées ?
        </p>
        {{ endif }}
    </div>
</div>

{{ formfields }}

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}