{{ block styles }}
<style>
    input[type=number] {
        width: 80px;
        text-align: center;
    }
</style>
{{ endblock }}

{{ block title }}
{{ if en }}

{{ elif fr }}

{{ endif }}
{{ endblock }}

{{ block content }}

<div class="form-control mb-1">
    {{ formfield "policy_fight" }}
</div>

<div class="form-control mb-2">
    {{ formfield "policy_narrative" }}
</div>

<div class="form-control mb-1">
    {{ formfield "confidence_policy" }}
</div>

{{ next_button }}

<p class="form-control-errors" style="display: none;">
    {{ if en }}
    Please ensure that all ranks are unique.
    {{ elif fr }}
    Veuillez vous assurer que tous les rangs sont uniques.
    {{ endif }}
</p>
{{ endblock }}

{{ block scripts }}
<script src="{{ static 'fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}