{{ block title }}
{{ if en }}
Questionnaires on climate change
{{ elif fr }}
Questionnaires sur le changement climatique
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if fr }}
        <p>
            Cette dernière partie comporte 4 questionnaires sur le changement climatique. <br>
            Il n'y a pas de bonne ou de mauvaise réponse. <br>
            Merci de répondre avec vos connaissances et votre opinion, en toute honnêteté. <br>
            Nous vous rappelons que les données sont collectées de manière totalement anonyme, et ne seront traitées
            que par les chercheurs du projet, à des fins scientifiques.
        </p>
        <p>
            Cette partie est facultative, si vous ne souhaitez pas y participer, vous pouvez cliquer sur le bouton
            <i>Passer</i>.
        </p>
        {{ elif en }}
        <p>
            This last part consists of 4 questionnaires about climate change. <br>
            There are no right or wrong answers. <br>
            Please answer with your knowledge and opinion, honestly. <br>
            We remind you that the data is collected completely anonymously and will only be processed by the project
            researchers for scientific purposes.
        </p>
        <p>
            This part is optional, if you do not wish to participate, you can click on the <i>Skip</i> button.
        </p>
        {{ endif }}
    </div>
</div>

<button class="btn btn-primary mx-1" name="skip" value="False">
    {{ if en }} Next {{ elif fr }} Suivant {{ endif }}
</button>
<button class="btn btn-danger" name="skip" value="True">
    {{ if en }} Skip {{ elif fr }} Passer {{ endif }}
</button>

{{ endblock }}

{{ block scripts }}
<script>
    function fill_auto() {
        setTimeout(function () {
            if (Math.random() > 0.5) {
                document.querySelector('button[name="skip"][value="True"]').click();
            } else {
                document.querySelector('button[name="skip"][value="False"]').click();
            }
        }, 2000);
    }

    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto) {
            fill_auto();
        }

    });
</script>
{{ endblock }}