{{ block title }}
{{ if en }}
    Welcome to this survey
{{ elif fr }}
    XXX
{{ endif }}
{{ endblock }}

{{ block content }}

<div class="card bg-light mb-3">
    <div class="card-body">
        {{ if fr }}
        <p></p>
        <p></p>
        {{ elif en }}
        <p>
            In the following screens, you will be asked a couple of questions. <br>

            Your response will remain completely anonymous. <br>

            There are no right or wrong answers; we are simply interested in your honest views, whatever they may be.
            <br>

            The questionnaire lasts approximately 5 to 8 minutes, and you can stop at any time. <br>

            Thank you for your time and contribution.

        </p>
        <p>
            If you do not wish to participate, you can click on the <i>Skip</i> button.
        </p>
        {{ endif }}
    </div>
</div>

<button class="btn btn-primary mx-1" name="skip" value="False">
    {{ if en }} Next {{ elif fr }} Suivant {{ endif }}
</button>
<button class="btn btn-danger" name="skip" value="True">
    {{ if en }} Skip {{ elif fr }} Passer {{ endif }}
</button>

{{ endblock }}

{{ block scripts }}
<script>
    function fill_auto() {
        setTimeout(function () {
            if (Math.random() > 0.5) {
                document.querySelector('button[name="skip"][value="True"]').click();
            } else {
                document.querySelector('button[name="skip"][value="False"]').click();
            }
        }, 2000);
    }

    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto) {
            fill_auto();
        }

    });
</script>
{{ endblock }}